@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


*{
    margin :0;
    padding :0;
    box-sizing: border-box;
    text-decoration:none;
    list-style: none;
}
 body {
    
    font-family: "Poppins", sans-serif;
    
}

img {
    max-width:100%;
}

.container {
    max-width :1200px;
    margin: 0px auto;
}

.header {
    display:flex;
    align-items:center;
    min-height: 80vh;
    background: linear-gradient(90deg,
    rgba(241,237,220,1)0%,
    rgba(255,255,253,1)50%,
    rgba(252,246,232,1)100%);
    padding : 70px 0px;
    
}

.menu {
  position:absolute;
  top: 0px;
  left:0;
  right:0;
  display:flex;
  align-items: center;
  justify-content:space-between;
  padding: 20px;
}

.logo {
    font-size:25px;
    color:#FF3C2A;
    font-weight:800;
    text-transform:uppercase;
}

.menu .navbar ul li {
   position: relative;
   float:left;
}


.menu .navbar ul li a{
    font-size:18px;
    padding: 20px;
    color: #111111;
    display: block;
 }

 .menu .navbar ul li a:hover{
    color: #FF3C2A;

 }

 #menu{
    display:none;
 }

.menu-icono {
    width:25px;
 }

 .menu label{
    cursor:pointer;
    display: none;
 }

 .submenu {
    position: relative;
 }

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter:blur(10px);
    top:100%;
    z-index:1;
    background-color: #4E4B5076;
    padding: 20px;
    min-width: 400px;
}


table {
    width: 100%;
}

th , td {
    color: #FFFFFF;
}

.borrar {
    background-color: #FF3C2A;
    border-radius: 50%;
    padding: 5px 10px;
    color: #FFFFFF;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    align-items: center;
    flex: 1;
}

.header-text{
    flex-basis: 40%;
}

.header-txt h1 {
    font-size:70px;
    line-height: 1;
    color: #181818;
    text-transform: uppercase;
    margin-bottom: 25px;
}

p {
    color: #4B4B4B;
    font-size:18px;
    margin-bottom: 25px;
}

.btn-1, .btn-3 {
    display: inline-block;
    padding: 10px 30px;
    color: #FF3C2A;
    border: 2px solid #FF3C2A;
    text-transform: capitalize;
    border-radius: 15px;
}

.btn-1:hover, .btn-3:hover{
    color: #FFFFFF;
    background-color: #FF3C2A;
}

.header-img {
    flex-basis: 60%;
}

.oferts {
   padding : 100px 0;
}

h2 {
    font-size:40px;
    line-height: 1;
    color: #181818;
    margin-bottom: 10px;
}

.oferts-content {
    display: flex;
    justify-content: space-between;
    margin-bottom:30px;
 }

 .ofert-1{
    flex-basis: clac(30% - 30px);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 25px;
    text-align: center;
    background-color: #F7FAFA;
    border-radius: 10px;
 }

 .ofert-1 img {
    width:130px;
    height: 170px;
    margin-bottom:10px;
 }

 h3 {
    font-size:20px;
    line-height: 1;
    color: #181818;
    margin-bottom: 10px;
 }

 .product-txt p {
    margin-bottom: 10px;
 }

 .precio {
    color : #FF3C2A;
    font-weight: 700;
    margin-bottom: 20px;
 }

 .btn-3 {
    padding: 4px 20px;
 }


 .logan-1 {
    flex-basis:40%;
    background: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)
    ),url(images/ch1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 50px;
 }


 .logan-1 h3 {
    font-size:30px;
    color:#FFFFFF;
text-transform: uppercase;
 }

 .logan-1 p {
    font-size: 18px;
    text-transform: uppercase;
    color: #F7FAFA;
    margin-bottom: 20px;
 }

 .btn-2{
    display: inline-block;
    padding: 8px 30px;
    border: 1px solid #FFFFFF;
    color:#FFFFFF; 
 }

 .btn-2:hover{
    background-color: #F7F7F7;
    color: #111111;
 }

 .promotion {
    padding: 80px 80px;
    background-color: #F7F7F7;
 }

 .promotion-content {
    display:flex;
 }

 .promotion-txt{
    flex-basis : 50%;
 }

 .promotion-img{
    flex-basis: 50%;
    text-align: center;
 }

 .promotion-img img {
    width:250px;
 }

 .product {
    padding: 100px 0;
    text-align:center;
 }

 .product-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin-bottom: 50px;
 }


 .blog {
    padding: 50px 0px 100px 0px;
 }

 .blog-content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
 }

 .blog-1 {
    flex-basis: calc(33.3% -30px);
    margin-top: 25px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
 }

 .blog-txt {
    padding:40px;
 }

 .blog-1:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
 }

 .btn-4 {
    display: inline-block;
    border : 1px solid #181818;
    padding: 8px 25px;
    font-size:17px;
    text-transform: capitalize;
    color: #181818;
 }

 .btn-4:hover{
    background-color: #181818;
    color:#F7F7F7;
 }

 .footer {
    padding: 50px;
    display: flex;
    justify-content: space-between;
 }

 .link h3 {
    font-size:17px;
    color: #181818;
    margin-bottom:10px;
 }

 .link a {
    font-size:17px;
    color:#181818;
    display: block;
    margin-bottom: 10px;
 }

 .link a:hover {
    color :#FF3C2A
 }









@media(max-width:991px) {

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
   
    }
     .menu{
        padding:20px;
     }

     .menu label {
        display: initial;

     }

     .menu .navbar {
        position: absolute;
        top: 100%;
        left:0;
        right:0;
        background-color: #FF9000;
        display: none;
     }

     .menu .navbar ul li {
        width: 100%;
     }

     #menu:checked ~ .navbar{
        display: initial;
     }
     .logo {
        display: none;
     }

     .menu .navbar ul li a:hover{
        color: #F7FAFA;
     }

     .header {
        min-height: 0vh;
        padding: 100px 30px 50px 30px;
        width: 100%;
        overflow: hidden; /* O ajusta según tus necesidades */
        

        
     }

     .header-content{
        flex-direction: column;
        text-align: center;
     }

     .header-txt {
        margin-bottom:25px;
     }

     .oferts {
        padding:30px;
     }

     .oferts-content{
        flex-direction: column;
     }

     .ofert-1 {
        margin-bottom:30px;
     }

     .logan-1{
        order:-2;
        margin-bottom: 30px;
     }

     .promotion{
        padding: 30px;
     }

     .promotion-content{
        flex-direction: column;
        text-align: center;

     }

     .promotion-txt{
        margin-bottom: 25px;
     }

     .promotion-img img{
        width:200px;
     }

     .product {
        padding: 30px;
     }

     .product-content {
        grid-template-columns: repeat(1,1fr);
        gap: 0;
     }

     .blog {
        padding: 30px;
     }

     .blog-content {
        flex-direction: column;
     }

     .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
     }
}


.float {
    position: fixed;
    width: 80px;
    height: 80px;
    background-color:#25d366;
    bottom :40px;
    right: 40px;
    color: #F7FAFA;
    border-radius: 50%;
    box-shadow: 2px 2px 3px #999;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.fa-whatsapp {
    font-size:60px;
   
}

.float:hover{
    background-color:#29e76e;
    transform: scale(1.2);
    transition: all 0.9s ease;
}
